// Заголовки, общие БЭМ блоки и прочее
.vertical-indent {
	&--s {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	&--m {
		padding-top: 90px;
		padding-bottom: 90px;
	}
	&--l {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	&--xl {
		padding-top: 170px;
		padding-bottom: 170px;
	}
	@media (max-width: $breakpoint1200) {
		&--l {
			padding-top: 85px;
			padding-bottom: 85px;
		}
		&--xl {
			padding-top: 130px;
			padding-bottom: 130px;
		}
	}
	@media (max-width: $breakpoint992) {
		&--s {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		&--m {
			padding-top: 45px;
			padding-bottom: 45px;
		}
		&--l {
			padding-top: 70px;
			padding-bottom: 70px;
		}
		&--xl {
			padding-top: 75px;
			padding-bottom: 75px;
		}
	}
	@media (max-width: $breakpoint768) {
		&--s {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		&--m {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		&--l {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		&--xl {
			padding-top: 45px;
			padding-bottom: 45px;
		}
	}
}

.fz11 {
	font-size: 11px;
	line-height: calc(19 / 11 * 100%);
}

.fz24 {
	font-size: 24px;
	line-height: calc(30 / 24 * 100%);
}

.fz36 {
	font-size: 36px;
	line-height: calc(45 / 36 * 100%);
	@media (max-width: $breakpoint768) {
		font-size: 24px;
	}
}

.fz48 {
	font-size: 48px;
	@media (max-width: $breakpoint480) {
		font-size: 36px;
	}
}

h2 { 
	font-size: 10px;
	@include roboto;
	font-style: normal;
	font-weight: $f-w-500;
	line-height: calc(12 / 10 * 100%);
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: $color-blue-900;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.section-outer {
	border-bottom: 1px solid #D8E3FE;
}

.main-navigation {
	display: flex;
	align-items: center;

	&__inner-wrap {
		z-index: 50;
		display: flex;
		align-items: center;
		@media (max-width: $breakpoint992) {
			flex-direction: column;
			transition: transform 0.8s ease 0s;
			transform: translate(0px, -100%);
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			overflow: auto;
			padding: 90px 10px 30px 10px;
			background-color: rgba(255, 255, 255, 0.9);
			&._active {
				transform: translate(0px, 0);
			}
		}
	}

	&__logo {
		z-index: 100;
		@media (min-width: $breakpoint992) {
			margin: 0px 73px 0px 0px;
		}
	}

	&__logo-image {
	}

	&__menu {

	}

	&__socials {
		@media (min-width: $breakpoint992) {
			margin: 0px 43px 0px auto;
		}
	}

	&__button {
	}

	&__icons {
		z-index: 100;
		position: relative;
		cursor: pointer;
		span {
			position: absolute;
			top: calc(50% - 1px);
			left: calc(50% - 8px);
			width: 16px;
			height: 2px;
			background-color: $color-gray-600;
			@include anim(.3s, 0s);
			&:first-child {
				top: 4px;
			}
			&:last-child {
				top: auto;
				bottom: 4px;
			}
		}
		
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}

.menu {
	&__body {
	}

	&__list {
		display: flex;
	}

	&__item {
		& + & {
			margin-left: 40px;
		}
	}

	&__link {
		font-family: 'Quicksand';
		font-style: normal;
		font-weight: $f-w-500;
		font-size: 12px;
		line-height: calc(15 / 12 * 100%);
		color: $color-gray-600;
		@include anim(.3s, 0s);
		&:hover {
			color: $color-blue-300;
		}
	}

	
}

.socials {
	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		& + & {
			padding-left: 35px;
		}
	}

	&__link {
		
		path {
			fill: #B6BAC7;
			@include anim(.3s, 0s);
		}
		&:hover {
			path {
				fill: #6188FF;
			}
		}
		
		
	}
}

.btn-group {
	display: inline-flex;
	.btn:nth-child(1) {
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
	}
	.btn:nth-child(2) {
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
	}
}

.btn {
	@include quicksand;
	display: inline-block;
	font-weight: $f-w-700;
	font-size: 13px;
	border-radius: 2px;
	line-height: 16.25px;
	padding: 13px 15px;
	box-sizing: border-box;
	@include anim(.3s, 0s);
	&--burger {
		@media (min-width: $breakpoint992) {
			display: none;
		}
		border: 2px solid $color-gray-600;
	}

	&--primary {
		background-color: $color-gray-50;
		color: $color-blue-700;
		&:hover {
			background-color: darken($color-gray-50, 5%);
		}
	}

	&--secondary {
		background-color: $color-blue-500;
		color: $color-white;
		border: 1px solid transparent;
		&:hover {
			background-color: darken($color-blue-500, 5%);
		}
	}

	&--no-bg {
		color: $color-gray-200;
		border: 1px solid $color-gray-200;
		&:hover {
			border: 1px solid darken($color-gray-200, 10%);
			color: darken($color-gray-200, 10%);
		}
	}

	&--no-bg-2 {
		color: $color-gray-50;
		border: 1px solid $color-gray-50;
		&:hover {
			border: 1px solid darken($color-gray-50, 10%);
			color: darken($color-gray-50, 10%);
		}
	}

	&--more {
		background-color: $color-red-50;
		color: $color-red-500;
		&:hover {
			background-color: darken($color-red-50, 5%);
		}
	}

	&--transparent {
		color: $color-gray-300;
		&:hover {
			color: darken($color-gray-300, 10%);
		}
	}

	&--view {
		color: $color-gray-800;
		background-color: $color-white;
		&:hover {
			background-color: darken($color-white, 10%);
		}
	}

	&--go-to {
		font-weight: $f-w-500;
		padding: 13.5px 33px;
		color: $color-gray-500;
		background-color: $color-gray-100;
		&:hover {
			background-color: darken($color-gray-100, 5%);
		}
	}

	&--form {
		background-color: $color-blue-800;
		box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
		border-radius: 5px;
		color: $color-white;
		padding: 21px 62px;
		&:hover {
			background-color: darken($color-blue-800, 5%);
		}
	}
}

.main-text {
	@include roboto;
	font-style: normal;
	font-weight: $f-w-400;
	font-size: 15px;
	line-height: calc(29 / 15 * 100%);;
	letter-spacing: 0.03em;

	color: $color-gray-400;
	@media (max-width: $breakpoint480) {
		font-size: 13px;
	}
}

.shadow {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.shadow-mini-pic {
	filter: drop-shadow(0px 15px 100px #E5EBF8);
}

.dots {
	position: relative;
	z-index: 5;
	&__list {
		display: flex;
		justify-content: center;
	}
 
	.swiper-pagination{ z-index: 10;}
	.swiper-pagination-bullet {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 16px;
		height: 16px;
		cursor: pointer;
		&::before {
			content: '';
			display: block;
			width: 8px;
			height: 8px;
			background-color: $color-gray-200;
			@include anim(.3s, 0s);
			border-radius: 100%;
		}
	}

	.swiper-pagination-bullet-active::before {
		background-color: $color-blue-400;
	}

	.swiper-pagination-horizontal {
		bottom: 36px;
	}
}

.text2 {
	@include roboto;
	font-weight: $f-w-400;
	font-size: 14px;
	line-height: calc(27 / 14 * 100%);
	letter-spacing: 0.03em;
	color: $color-gray-400;
	@media (max-width: $breakpoint768) {
		font-size: 12px;
	}
}
