.section-footer {

	&__navigation {
		@media (max-width: $breakpoint992) {
			flex-direction: column;
			gap: 20px;
			.main-navigation__logo {
				margin: 0
			}
		}
	}

	&__copyright {
		@include quicksand;
		font-weight: $f-w-500;
		font-size: 12px;
		line-height: calc(15 / 12 * 100%);
		text-transform: capitalize;
		color: $color-gray-300;
		margin: 28px 0px 0px 0px;
		@media (max-width: $breakpoint992) {
			text-align: center;
		}
		@media (max-width: $breakpoint480) {
			margin-top: 25px;
		}
	}

	.main-navigation__menu {
		@media (max-width: $breakpoint480) {
			.menu__list {
				flex-direction: column;
				text-align: center;
			}
			.menu__item {
				margin: 0 0 25px 0;
				&:last-child {
					margin: 0;
				}
			}
		}
	}
}
