// Библиотеки
@use 'sass:math';

// Подключаемые шрифты
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500&display=swap');
// @import "fonts";

// Шрифт по умолчанию
$fontfamily: 'Quicksand', sans-serif;

// Переменные
$containerWidth: 900;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1400: 1399.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint576: 575.98 + px;
$breakpoint480: 479.98 + px;

// font weight
$f-w-400: 400;
$f-w-500: 500;
$f-w-600: 600;
$f-w-300: 300;
$f-w-700: 700;

// color
$color-white: #FFFFFF;

$color-red-50: #FFD7D7;
$color-red-500: #D43F3F;

$color-blue-50: #C7D3FF;
$color-blue-100: #6888FF;
$color-blue-200: #5E80FF;
$color-blue-300: #5E81FE;
$color-blue-400: #5283FF;
$color-blue-500: #4C85FF;
$color-blue-600: #4074F8;
$color-blue-700: #3A79FF;
$color-blue-800: #4D6CE1;
$color-blue-900: #3D4F9F;

$color-gray-50: #DAE4FE; 
$color-gray-100: #E8ECF4;
$color-gray-200: #D1D6E3;
$color-gray-300: #A6B6DA; 
$color-gray-400: #8D96BD; 
$color-gray-500: #7382A3;
$color-gray-600: #697CA6;
$color-gray-700: #676F95;
$color-gray-800: #565F82;
$color-gray-900: #495274;

// Обнуление, общие параметры
@import 'base/null';
@import 'base/mixins';
@import 'libs/libs';

// Оболочка
body {
	color: $color-blue-900;
	background-color: $color-white;
	&.lock {
		overflow: hidden;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

// Основная сетка
.container {
	max-width: ($containerWidth + $containerPadding) + px;
	width: 100%;
	margin: 0 auto;
	padding: 0 $containerSidePadding + px;

	@media (max-width: $breakpoint992) {
		max-width: 970px;
	}

	@media (max-width: $breakpoint768) {
		max-width: 750px;
	}

	@media (max-width: $breakpoint480) {
		max-width: none;
	}
	&__wide {
		max-width: (1100 + $containerPadding) + px;
	}

}

// Подключение файлов/стилей/страниц и элементов
@import "base/ui";
@import "common";
@import "header";
@import "home";
@import "footer";
@import "base/swiper";
@import "base/forms/forms";

// Основные элементы
.page {
	&__section-hero {
		position: relative;
	}
	&__section-customers {
	}
	&__section-plan-and-manage {
		position: relative;
		background-color: #F5F8FF;
		@media (max-width: $breakpoint992) {
			.container {
				padding-top: 75px;
				padding-bottom: 0px;
				margin-bottom: -70px;
			}
		}
		@media (max-width: $breakpoint768) {
			.container {
				padding-top: 45px;
				margin-bottom: -50px;
			}
		}
	}
	&__section-about-us {
		position: relative;
		background: url("../img/about/clouds.svg") 50% no-repeat;
	}
	&__section-stats {
	}
	&__section-blog {
		background-color: #F5F8FF;
	}
	&__section-quotes {
		background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
	}
	&__section-faq {
	}
	&__section-get-started {
		background: linear-gradient(229.32deg, $color-blue-100 12.77%, $color-blue-200 73.11%);
	}
	&__section-newsletter {
		background-color: #FCFDFF;
	}
}